flows (1).json
[
    {
        "id": "a7f3042b753876db",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4dd7d3edc5c0c9c5",
        "type": "mqtt in",
        "z": "a7f3042b753876db",
        "name": "",
        "topic": "sexta/braba/top",
        "qos": "2",
        "datatype": "auto",
        "broker": "322da99b3c3c6c29",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "194171a0e3121fc1",
                "600e900267ed8bd7"
            ]
        ]
    },
    {
        "id": "128fbb0e7a52e69d",
        "type": "change",
        "z": "a7f3042b753876db",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.TagId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 100,
        "wires": [
            [
                "fa5026e4c2a512ed"
            ]
        ]
    },
    {
        "id": "194171a0e3121fc1",
        "type": "json",
        "z": "a7f3042b753876db",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 100,
        "wires": [
            [
                "128fbb0e7a52e69d",
                "a96bdc726a74535b"
            ]
        ]
    },
    {
        "id": "f48461298e8b450c",
        "type": "inject",
        "z": "a7f3042b753876db",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"TagId\":\"22\"}",
        "payloadType": "json",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "85209ec0d75c5fc4",
                "7f271b57c01658e4"
            ]
        ]
    },
    {
        "id": "85209ec0d75c5fc4",
        "type": "mqtt out",
        "z": "a7f3042b753876db",
        "name": "",
        "topic": "sexta/braba/top",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "322da99b3c3c6c29",
        "x": 400,
        "y": 340,
        "wires": []
    },
    {
        "id": "36eba6739440c5aa",
        "type": "serial in",
        "z": "a7f3042b753876db",
        "name": "",
        "serial": "6a9284fab4a417c2",
        "x": 70,
        "y": 240,
        "wires": [
            [
                "85209ec0d75c5fc4"
            ]
        ]
    },
    {
        "id": "600e900267ed8bd7",
        "type": "ui_text",
        "z": "a7f3042b753876db",
        "group": "059f062e5271b491",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 290,
        "y": 240,
        "wires": []
    },
    {
        "id": "a96bdc726a74535b",
        "type": "debug",
        "z": "a7f3042b753876db",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "7f271b57c01658e4",
        "type": "debug",
        "z": "a7f3042b753876db",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 460,
        "wires": []
    },
    {
        "id": "fa5026e4c2a512ed",
        "type": "ui_text",
        "z": "a7f3042b753876db",
        "group": "059f062e5271b491",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 670,
        "y": 100,
        "wires": []
    },
    {
        "id": "87ba26825f49df5a",
        "type": "ui_button",
        "z": "a7f3042b753876db",
        "name": "",
        "group": "059f062e5271b491",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "liga",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{        \"motor\":\"ligado\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "9e102e0f6e374663"
            ]
        ]
    },
    {
        "id": "ffadccac70301cc1",
        "type": "ui_button",
        "z": "a7f3042b753876db",
        "name": "",
        "group": "059f062e5271b491",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "desliga",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{    \"motor\":\"desligado\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 640,
        "wires": [
            [
                "9e102e0f6e374663"
            ]
        ]
    },
    {
        "id": "9e102e0f6e374663",
        "type": "mqtt out",
        "z": "a7f3042b753876db",
        "name": "",
        "topic": "sexta/braba/top2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "322da99b3c3c6c29",
        "x": 470,
        "y": 620,
        "wires": []
    },
    {
        "id": "d5fccfb3540c0d9a",
        "type": "mqtt in",
        "z": "a7f3042b753876db",
        "name": "",
        "topic": "sexta/braba/top2",
        "qos": "2",
        "datatype": "auto",
        "broker": "322da99b3c3c6c29",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 720,
        "wires": [
            [
                "0f906bef41cb4893",
                "cadb46caa812b8d1"
            ]
        ]
    },
    {
        "id": "0f906bef41cb4893",
        "type": "debug",
        "z": "a7f3042b753876db",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 700,
        "wires": []
    },
    {
        "id": "cadb46caa812b8d1",
        "type": "serial out",
        "z": "a7f3042b753876db",
        "name": "",
        "serial": "6a9284fab4a417c2",
        "x": 450,
        "y": 760,
        "wires": []
    },
    {
        "id": "322da99b3c3c6c29",
        "type": "mqtt-broker",
        "name": "broker.hivemq.com",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6a9284fab4a417c2",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "059f062e5271b491",
        "type": "ui_group",
        "name": "Default",
        "tab": "52adc292d6d1157f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "52adc292d6d1157f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]